/* Header.css */
@font-face {
  font-family: 'La Belle Aurore';
  src: url('../fonts/LaBelleAurore-Regular.ttf'); /* Specify the correct path to your font file */
  font-weight: normal;
  font-style: normal;
}

.header-title {
  font-family: 'La Belle Aurore', sans-serif;
  font-size: 50px;
  padding: 10px;
  font-weight: bold;
}
